@charset "UTF-8";
/****************************************************
	파일명	:sub.css
	최초작성자	:황현진
	최초작성일	:2024-11-25
	-------------------------------------------------
	Dec. 서브페이지
	-------------------------------------------------
	속성순서    :레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* common */
.blind{display:block;overflow:hidden;font-size:0;line-height:0;position:absolute;text-indent:-9999px;width:1px;height:1px;}

input{width:100%;}

/* icon 공통 */
.ico::before,
.ico::after{content:"";display:inline-block;vertical-align:middle;}

/* button 공통 */
.btns{width:100%;border-radius:8px;background-color:#27c2cb;color:#fff;}
.btn-search{display:inline-block;width:24px;height:24px;background:url(../../../work/images/biz2/ico/ico_search.svg) no-repeat center;font-size:0;}
.btn-download{max-width:147px;height:56px;font-size:22px;}
.btn-download::after{width:20px;height:20px;margin-left:10px;background:url(../../../work/images/biz2/ico/ico_download.svg) no-repeat 0 0;}
.btn-list{display:block;max-width:192px;height:72px;padding:18px 10px;margin:80px auto 0;font-size:26px;text-align:center;}

/* table 공통 */
.com-write-table table th,
.com-write-table table td{height:76px;}
.com-write-table table td{padding:10px 20px;}

/* paging 공통 */
.com-paging button.prev,
.com-paging button.next{width:64px;padding:0;line-height:0;background:none;letter-spacing:0;}

.com-paging button.prev::before{content:"";display:inline-block;width:20px;height:20px;margin-top:-3px;vertical-align:middle;background:url(../../images/biz2/ico/paging_arrow.svg) no-repeat center;}
.com-paging button.next::after{content:"";display:inline-block;width:20px;height:20px;margin-top:-3px;vertical-align:middle;background:url(../../images/biz2/ico/paging_arrow.svg) no-repeat center;transform:rotate(180deg);}

/* sub */
/* IIP_001 사용기관 공지사항 */
.search-area-wrap .ui-select{display:inline-block;width:200px;font-size:22px;}
.search-input{position:relative;flex:1;margin-left:26px}
.search-input .btn-search{position:absolute;top:4px;right:0;padding:24px;}

/* IIP_002 사용기관 공지사항 상세 */
.add-file{display:flex;justify-content:space-between;align-items:center;}
.add-file .attached-file{color:#8e8e8e}
.add-file .attached-file .ico-pdf{margin-right:15px;}
.article-list{margin-top:80px;border-top:1px solid #c6c6c6;font-size:17px;}
.article-list li{padding:11px 16px;border-bottom:1px solid #c6c6c6;font-weight:400;} 
.article-list li a::before{width:20px;height:20px;margin:-3px 3px 0 0;background:url(../../images/biz2/ico/ico_list.svg) no-repeat center;}
.article-list li a::after{width:1px;height:8px;margin:0 16px;background-color:#C6C6C6;
}
.article-list li.prev-list{color:#717171;}
.article-list li.next-list a::before{transform:rotate(180deg);}
