@charset "UTF-8";
/****************************************************
	파일명	:style.css
	최초작성자	:황현진
	최초작성일	:2024-11-25
	-------------------------------------------------
	Dec. 서브페이지 스타일링
	-------------------------------------------------
	속성순서    :레이아웃 > 크기/간격 > 박스모양 > 폰트/정렬 > 기타
*****************************************************/

/* common */
.blind{display:block;overflow:hidden;font-size:0;line-height:0;position:absolute;text-indent:-9999px;width:1px;height:1px}
input{width:100%;font-size:18px}
.period input,
select{color:#8e8e8e;font-size:18px;font-weight:500}

/* text 공통 */
.txt-muted{font-size:14px;font-weight:500;color:#666}
.txt-ss{font-size:16px;font-weight:500;color:#8e8e8e}
.txt-s{font-size:18px;font-weight:500;color:#8e8e8e}
.txt{font-size:20px;font-weight:500;color:#333}

/* color 공통 */
.color-red{color:#F54141}
.color-blue{color:#218CEF}
.bg-blue{background-color:#4C85BA !important}
.bg-gray{background-color:#586377 !important}

/* icon 공통 */
.ico::before, 
.ico::after{content:"";display:inline-block;vertical-align:middle}

/* button 공통 */
.btns{display:inline-block;height:56px;padding:11px 20px 8px;border-radius:8px;background-color:#27c2cb;color:#fff;font-size:22px}
.btn-bd{display:inline-block;height:56px;padding:11px 20px 8px;border:1px solid #555;border-radius:8px;background-color:#fff;font-size:22px}
.btn-search{display:inline-block;width:24px;height:24px;background:url(../../images/biz2/ico/ico_search.svg) no-repeat center;font-size:0}
.btn-download{max-width:147px}
.btn-download::after{width:20px;height:20px;margin-left:10px;background:url(../../images/biz2/ico/ico_download.svg) no-repeat 0 0}

.btns-bottom{display:flex;justify-content:center;max-width:512px;margin:80px auto 0;gap:16px}
.btns-bottom a,
.btns-bottom button{width:100%;height:72px;padding:18px 10px;font-size:26px;text-align:center}

/* checkbox,radio 공통 */
input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:inline-block;width:22px;height:22px;margin:2px 0 0 0;border:1px solid #717171;border-radius:5px;cursor:pointer;background-color:#fff;outline:0}
input[type="checkbox"]::after{content:'';display:none;width:15%;height:40%;position:relative;top:20%;left:40%;transform:rotate(45deg);border:solid #fff;border-width:0 2px 2px 0}
input[type="checkbox"]:checked{background-color:#00adb2}
input[type="checkbox"]:checked::after{display:block;box-sizing:initial}

input[type="radio"]{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:inline-block;width:22px;height:22px;margin:2px 0 0 0;border:1px solid #717171;border-radius:50%;cursor:pointer;background-color:#fff;outline:0}
input[type="radio"]::after{content:'';display:none;position:relative;top:50%;left:50%;width:10px;height:10px;margin:-5px;background-color:#fff;border-radius:50%}
input[type="radio"]:checked{background:#00adb2}
input[type="radio"]:checked::after{display:block;box-sizing:initial}

.chk-box,
.radio-box{display:flex}
.chk-box input,
.radio-box input{margin-right:10px}
.chk-box label,
.radio-box label{display:flex;flex:1;font-size:18px;font-weight:500;color:#555}

/* table 공통 */
table{word-break:break-all}
table th {color: var(--text-primary-00); font-weight: 700;}
table td {color: var(--text-sub-33);}
.com-write-table table th,
.com-write-table table td{height:76px}
.com-write-table table td{padding:10px 20px}
.com-write-table table,
.com-view-table table{border-left:1px solid var(--gray-30-d8);border-right:1px solid var(--gray-30-d8)}
.com-view-table table th{padding:20px 15px}
.period .date{flex:none;width:calc(50% - 13px);height:56px;border-radius:0;background-color:#fff}

/* box 공통 */
.search-box{padding:40px;border:1px solid #d8d8d8;border-radius:20px;background-color:#f8f8f8}
.border-box{padding:8px 16px;border:1px solid #ddd;border-radius:10px}
.txt-box{display:flex;flex-direction:column;justify-content:space-between;min-height:380px;font-size:18px}
.txt-box .txt-byte{text-align:right;color:#A0ACB8;font-size:13px}
.blue-box{padding:40px 38px;border-radius:40px;background-color:#F7F9FC}

/* paging 공통 */
.com-paging button.prev,
.com-paging button.next{width:64px;padding:0;line-height:0;background:none;letter-spacing:0}
.com-paging button.prev::before{content:"";display:inline-block;width:20px;height:20px;margin-top:-3px;vertical-align:middle;background:url(../../images/biz2/ico/paging_arrow.svg) no-repeat center}
.com-paging button.next::after{content:"";display:inline-block;width:20px;height:20px;margin-top:-3px;vertical-align:middle;background:url(../../images/biz2/ico/paging_arrow.svg) no-repeat center;transform:rotate(180deg)}

/* sub */
/* IIP_001 사용기관 공지사항 */
.search-area .ui-select{display:inline-block;width:200px;font-size:18px;color:#000}
.search-input{position:relative;flex:1;margin-left:26px}
.search-input .btn-search{position:absolute;top:4px;right:0;padding:24px}

/* IIP_002 사용기관 공지사항 상세 */
.add-file{display:flex;justify-content:space-between;align-items:center}
.add-file .attached-file{color:#8e8e8e}
.add-file .attached-file .ico-pdf{margin-right:15px}
.article-list{margin-top:80px;border-top:1px solid #c6c6c6;font-size:17px}
.article-list li{padding:11px 16px;border-bottom:1px solid #c6c6c6;font-weight:400} 
.article-list li a::before{width:20px;height:20px;margin:-3px 3px 0 0;background:url(../../images/biz2/ico/ico_list.svg) no-repeat center}
.article-list li a::after{width:1px;height:8px;margin:0 16px;background-color:#C6C6C6}
.article-list li.prev-list{color:#717171}
.article-list li.next-list a::before{transform:rotate(180deg)}

/* IIP_100 이용권 사용내역 */
.top-info-group{margin-top:80px;font-size:18px}
.top-info-group h3{font-size:var(--txt-lv2)}
.mapping-area .mapping{margin-top:30px}
.mapping-area .mapping dl{width:100%;padding:40px;border:2px solid #1c8a90;border-radius:20px;text-align:center;font-size:24px}
.mapping-area .mapping dl+dl{margin-left:30px}
.mapping-area .mapping dl dt{color:#00adb2;font-weight:700}
.mapping-area .mapping dl dd{margin-top:16px;color:#333;font-weight:700}
.mapping-area p{margin-top:30px;font-size:18px;color:#666}

.search-box{margin-top:80px}
.search-box .search-list{display:flex;flex-wrap:wrap}
.search-box .search-list dl{display:flex;align-items:center;width:50%}
.search-box .search-list dt{width:130px;padding:23px 20px 23px;color:#111;font-size:20px;font-weight:700}
.search-box .search-list dd{flex:1;padding:10px 20px;color:#8e8e8e}
.search-box .search-list dd select{width:262px}
.search-box .search-list .period{width:100%}
.search-box .search-list .period .date{width:198px}
.search-box .search-list .period .btn-wrap{display:inline-block;margin-left:30px} 
.search-box .search-list .period .btn-wrap .btn-bd{width:90px;padding:10px 20px}
.search-box .search-list .period .btn-wrap .btn-bd+.btn-bd{margin-left:16px}
.search-box .search-list .period .txt-s{margin-left:16px}
.period .dash{display:inline-block;margin:0 7px}
.search-box .btns{display:block;width:79px;margin:30px auto}
.search-box .chk-box input[type="checkbox"]{width:24px;height:24px;margin-top:-2px}
.search-box .chk-box label{font-size:16px}

.add-notice{margin-top:30px;font-size:18px;color:#666}
.add-notice li+li{margin-top:8px}

.top-info-group .border-box{margin-left:30px}
.top-info-group .border-box p{font-size:18px;font-weight:500}
.top-info-group .border-box p+p{margin-left:26px}
.top-info-group .border-box p img{margin-right:8px}

.top-info-group .btn-wrap .btns+.btns{margin-left:15px}
.com-view-table .ico{width:40px;height:40px;border:0;background:url(../../images/biz2/ico/ico_unmapped.svg) no-repeat center;font-size:0;text-indent:-9999em}

/* IIP_200 사용기관 교육과정 정보 */
.contents .search-box .search-list .period dd .chk-box{margin-left:40px}
.contents .search-box .search-list .period .date{width:203px}
.contents .search-box .search-list dl:last-child{margin-left:auto}

/* IIP_201 사용기관 교육과정 정보 상세 */
.contents .day input{width:calc(100% - 38px);margin-right:13px}
.contents .com-view-table th .btns{width:100%}
.contents .com-view-table td.btn-wrap .btns{width:calc(50% - 6px)}
.contents .com-view-table td.btn-wrap .btns+.btns{margin-left:4px}

/* IIP_202 사용기관 교육과정 정보 등록/수정(일반 교육기관일 경우) */
.top-info-group .flex-ac{text-align:right;gap:20px}
.top-info-group .flex-ac small{font-size:16px;font-weight:500}
.select-wrap,
.input-wrap{display:flex;justify-content:space-between;align-items:center;gap:20px}
.select-wrap select,
.input-wrap input{flex:1}
.select-wrap .btns,
.input-wrap select{width:117px}
.example{margin-top:10px}
.fixed-value{width:262px;margin-right:15px}
.com-write-table table td textarea{display:block;border-radius:0}

/* IIP_301 학습자정보 상세 */
.flex-ae{display:flex;align-items:end;gap:16px}

/* IIP_400 기관 정보 수정 */
.com-write-table td .btn-search{position:relative;top:-4px;width:20px;height:20px;margin:6px;background-size:100%}
.mail-agree .ico::before {background:url(../../images/biz2/icon_checkbox.svg) no-repeat center;width:22px;height:22px}

/* IIP_401 기관 정보 수정 상세 */
.division .flex-ac{gap:30px}
.input-group .flex-ac{gap:10px}
.input-group input,
.input-group select{width:160px}
.input-group .email{width:180px}
.input-group .chk-box input{width:24px}
.divide{flex-wrap:wrap;column-gap:80px;row-gap:26px;width:80%}
.divide .chk-box{width:calc(80% / 3)}
.com-write-table table td.type-wrap{padding:30px 20px;font-size:18px}
.row-gap{display:flex;flex-direction:column;row-gap:26px}
.row-gap .chk-box .ico::after{width:34px;height:34px;margin:-5px 0 0 10px}
.row-gap .chk-box .organ01::after{background:url(../../images/biz2/ico/ico_organ01.svg) no-repeat center}
.row-gap .chk-box .organ02::after{background:url(../../images/biz2/ico/ico_organ02.svg) no-repeat center}
.row-gap .chk-box .organ03::after{background:url(../../images/biz2/ico/ico_organ03.svg) no-repeat center}
.plan .input-wrap{justify-content:inherit;margin-top:20px}
.plan .input-wrap input{width:320px;flex:none}
.add-txt{margin-top:20px;font-size:18px}
.add-txt li{padding-left:9px;text-indent:-9px}

/* IIP_500 사용기관 문의사항 */
.top-info-group .right-wrap{gap:16px}
.top-info-group .right-wrap select+.btns{width:125px}

/* IIP_501 사용기관 문의사항 등록 */
.inquiry td select{width:260px}

/* IIP_600 사용기관 문의사항 */
.txt-list{font-size:20px}
.txt-list li::before{content:"";display:inline-block;width:8px;height:8px;margin:-4px 16px 0 0;border-radius:50%;background-color:#000;vertical-align:middle}
.table-edu td .btns{width:136px}
.quiz-area dt{height:89px;margin-top:80px;padding:17px;border:2px solid #00adb2;border-radius:20px 20px 0 0;background-color:#bcecef;font-size:38px;color:#1c8a90;text-align:center}
.quiz-area dd{font-size:20px;border:1px solid #d8d8d8;border-top:0}
.quiz-area dd p{flex:1;padding:44px 40px;border-right:1px solid #d8d8d8;background-color:#f8f8f8;font-weight:700}
.quiz-area dd p span{color:#1c8a90;font-size:22px}
.quiz-area dd p small{display:block;margin:2px 0 0 48px;font-size:18px;font-weight:500;color:#1c8a90}
.quiz-area dd p small::before{width:4px;height:4px;margin:6px 10px 10px;border-radius:50%;background-color:#1c8a90}
.quiz-area dd .flex-ac{padding:20px 40px;gap:20px}
.quiz-area dd .flex-ac .btns{width:100px;height:110px;padding:0;font-size:20px;font-weight:500}
.quiz-area dd .flex-ac .btns::before{content:"";display:block;width:60px;height:60px;margin:0 auto;background:url(../../images/biz2/ico/ico_o.svg) no-repeat 0 0}
.quiz-area dd .flex-ac .btns.no-sign::before {background:url(../../images/biz2/ico/ico_x.svg) no-repeat 0 0}

/* LNP_201 자주하는질문 상세 */
.qna .top-info-group {align-items:end} 
.qna .top-info-group > span {color:#666666;font-size:20px}
.qna .top-info-group h3.ico::before {background:url(../../images/biz2/ico/ico_question.svg) no-repeat center;width:60px;height:60px;margin-right:16px}
.qna .qna-answer {font-size:38px;margin-bottom:30px}
.qna .qna-answer.ico::before {background:url(../../images/biz2/ico/ico_answer.svg) no-repeat center;background-size:cover;width:46px;height:46px;margin-right:16px}
.qna-attached {display:block;font-weight:700}
.qna-answer-details {padding-top:30px;padding-bottom:30px;color:#666666;border-bottom:1px solid var(--gray-30-d8);font-size:18px}
.qna-table thead th {text-align:left;padding-left:40px}
.qna-table tbody td {padding:40px 40px 0 40px}
.qna-table tbody tr:last-of-type td {padding-bottom:40px;padding-top:30px}
.qna-table tbody tr:not(:last-of-type) td {border-bottom:0}
.qna .add-file {height:76px}
.qna .add-file .attached-file img {padding-left:24px}

/* LCP_001 본인인증 약관동의 */
.agree-box {padding: 60px 40px; border: 1px solid var(--gray-30-d8); border-radius: 20px; }
.agree-box .agree {display: flex; flex-direction: column; gap: 28px;}
.agree-box .agree:not(:last-of-type) {padding-bottom: 28px;}
.agree-box .agree + .agree {padding-top: 46px; border-top: 1px solid #e8e8e8;}
.agree-box .agree-radio {padding: 26px 20px; background: var(--gray-05-f8); border-radius: 16px; display: flex; justify-content: space-between;}
.agree-box .agree-radio > span {color: #797979; font-size: 18px;}
.agree-box .radio-box label { flex: auto; color: var(--black-90-1d);}
.agree-box .radio-box label:not(:last-of-type) {margin-right: 16px; }
.agree-box .agree-tit {font-size: 22px;}
.agree-box .agree-btn {border: 1px solid var(--gray-30-d8); color: #666666; border-radius: 8px; max-width: 84px; height: 44px;}
/* LCP_002 본인인증 */
.auth-area-in {gap: 30px;}
.auth-area-in button {font-weight: 700; font-size: 24px; flex: 1; height: 250px; border: 1px solid green; border-radius: 20px; background: var(--gray-05-f8); border: 1px solid var(--gray-30-d8); display: flex; flex-direction: column; justify-content: center; align-items: center;}
.auth-area-in button::before {height: 110px; margin-bottom: 30px;}
.auth-area-in button:not(.simple)::before {width: 110px; }
.auth-area-in button.simple::before {width: 184px; background: url(../../images/biz2/ic_simple.svg) no-repeat center;}
.auth-area-in button.joint::before {background: url(../../images/biz2/ic_joint.svg) no-repeat center;}
.auth-area-in button.mo-auth::before {background: url(../../images/biz2/ic_moauth.svg) no-repeat center;}
.auth-area-in button.i-pin::before {background: url(../../images/biz2/ic_ipin.svg) no-repeat center;}
/* button is-active 스타일 */
.auth-area-in button.is-active {background: var(--primary-color-600); color: #fff;}
.auth-area-in button.is-active.joint::before {background: url(../../images/biz2/ic_joint_white.svg) no-repeat center;}
.auth-area-in button.is-active.mo-auth::before {background: url(../../images/biz2/ic_moauth_white.svg) no-repeat center;}
.auth-area-in button.is-active.i-pin::before {background: url(../../images/biz2/ic_moauth_white.svg) no-repeat center;}
/* LCP_003 본인인증 확인 */
.result-chk > p {font-size: 24px; font-weight: 500; padding-top: 40px; padding-bottom: 40px;}
.result-chk .ico::before {background: url(../../images/biz2/icon_check.svg) no-repeat center; width: 100px; height: 100px;}

/* IGP_001 평생교육이용권이란? */
.ticket{gap:48px}
.ticket img{width:calc(100% - 792px)}
.ticket .ticket-desc{display:flex}
.ticket .ticket-desc dl{display:table;table-layout:fixed;text-align:center;font-size:20px;font-weight:500;word-break:keep-all}
.ticket .ticket-desc dl+dl{padding-left:4px}
.ticket .ticket-desc .list01{width:117px}
.ticket .ticket-desc .list02{width:110px}
.ticket .ticket-desc .list03{width:110px}
.ticket .ticket-desc .list04{flex:1}
.ticket .ticket-desc .list05{width:147px}
.ticket .ticket-desc dl dt,
.ticket .ticket-desc dl dd{display:flex;align-items:center;justify-content:center;border-radius:12px}
.ticket .ticket-desc dl dt{padding:11px;background-color:#E2E7F0}
.ticket .ticket-desc dl dd{min-height:122px;margin-top:4px;padding:16px 16.5px;background-color:#F7F9FC;color:#333}

/* IGP_002 평생교육이용권 사용하기 */
.use-ticket .blue-box.bg{position:relative;min-height:400px}
.use-ticket .blue-box.bg::after{content:"";position:absolute;right:0;bottom:0;width:83%;height:100%;background:url(../../images/biz2/bg/bg_edu.png) no-repeat right bottom;background-size:66%}
.use-ticket .bg-box .top-info-group{margin-top:0}
.use-ticket .bg-box .txt{position:relative;z-index:1}
.use-ticket .ordered-list li+li{margin-top:16px}
.use-ticket li,
.use-ticket .use-edu.ordered-list li .txt{padding-left:20px;font-size:20px;text-indent:-20px}
.use-ticket .txt-muted{margin-top:4px;padding-left:21px;text-indent:-17px}
.use-ticket .txt-list li::before{width:5px;height:5px}
.use-ticket ul,
.use-ticket ol{padding-left:15px}
.use-ticket .blue-box{padding:60px 108px;border-radius:20px}
.use-ticket .blue-box .order{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center}
.use-ticket .blue-box .order+.order{margin-top:40px;flex-direction:row-reverse}
.use-ticket .blue-box .order li{display:flex;flex-direction:column;align-items:center;position:relative}
.use-ticket .blue-box .order li img{max-width:160px}
.use-ticket .border-box{padding:40px;border:1px solid #D8D8D8;border-radius:10px;background:#F7F9FC}
.use-ticket .border-box p{font-size:20px}
.use-ticket .use-edu li{display:flex;gap:40px;padding-left:0;text-indent:0}
.use-ticket .use-edu li+li{margin-top:20px}
.use-ticket .voucher li{padding-left:0;text-indent:0}
.use-ticket .use-edu.ordered-list li .txt-muted{margin-left:20px}
.use-ticket .border-box+.border-box{margin-top:16px}
.use-ticket .border-box strong{display:block;margin-bottom:12px;font-size:22px;font-weight:700}
.use-ticket .border-box .ordered-list{margin-top:4px;padding-left:0}
.use-ticket .border-box .ordered-list li+li{margin-top:4px}


/* full page layout (로그인 및 메인 사용)*/
/* border */
.full-page .container{display:flex;align-items:center;justify-content:center}
.login-wrap{display:flex;align-items:stretch;justify-content:space-between;width:100%}
.login-wrap :where(.auth-form, .register-btn){width:calc(50% - 30px);border-radius:15px;border:1px solid var(--gray-30-d8)}
.login-wrap .auth-form{padding:60px 40px 60px 40px;display:flex;flex-direction:column;gap:30px}
.login-wrap .auth-form-group input{margin-top:10px}
.login-wrap .auth-form-group label{line-height:18px;font-size:18px}
.login-wrap .auth-form .btns{height:72px;font-size:26px;background-color:#00adb2}
.login-wrap .auth-form-tit{font-size:32px}
.login-wrap .register-btn{background:#F5FBFF;display:flex;flex-direction:column;align-items:center;justify-content:center}
.login-wrap .register-btn-txt{font-size:38px;margin-top:40px}

/* layer style */
/* layer top search-box */
.layer-pop .search-box{margin:0;padding:20px;display:flex;gap:20px;align-items:center;flex-wrap:wrap} 
.layer-pop .search-box :where(input[type="text"], .btns){height:48px}
.layer-pop .search-box > label{font-weight:500;font-size:18px} 
.layer-pop .search-box input{flex:1;border-radius:10px}
/* layer btn */
.layer-pop .btns {padding:0 20px;width:auto;background:var(--primary-color-600)} /* 기본 버튼 고정값 초기화 */
.layer-btn-wrap {text-align:center;margin-top:80px}
.layer-pop .search-box .btns {margin:0} /* 기본 설정 마진 초기화 */
/* layer 테이블 공통  */
.layer-pop table {margin-top:40px}
.layer-pop .com-view-table :where(th,td) {height:44px;font-size:16px;}
.layer-pop .com-write-table :where(th,td) {height:44px;font-size:16px;}
.layer-pop .com-view-table th {padding:10px 17px}
.layer-pop .com-write-table th {padding:0}
/* layer-txt group */
.layer-pop .layer-text-box {padding: 20px; border: 1px solid var(--gray-30-d8); background: var(--gray-05-f8); border-radius: 12px; font-weight: 300;}
.layer-text-box > ul {display: flex; flex-direction: column; gap: 10px;}
.layer-text-box .layer-text-tit {font-size: 18px;}
.layer-text-box .layer-text-desc {color: #666666;}
.layer-pop .info-area .table-box > .com-write-table {margin-bottom: 40px;}
.layer-pop .search-box.list label {width: 80px;}
.layer-pop .search-box.list .flex-ac {gap: 20px; width: 100%;}
/* layer 내부 동의 박스 */
.layer-pop .agree-box {padding: 20px; max-height: 400px; overflow: auto}
.layer-pop .agree-box h3 {font-size: 20px; margin-bottom: 10px;}
.layer-pop .agree-box h4 {font-size: 16px; color: #333333; font-weight: 300; margin-bottom: 10px;}
.layer-pop .agree-box ol > li {font-size: 14px; color: #666666; font-weight: 300; padding-left:10px} 
.layer-pop .agree-box .agree-detail + .agree-detail {padding-top: 30px;}
.layer-pop .top-info-group {margin-top: 40px;}
.layer-pop .top-info-group h3 {font-size: 20px;}
.layer-pop .bottom-info-group {margin-top: 4px; color: #333333; font-size: 13px;}

/* 탭 공통 (임시) */
.tab-list {display:flex;align-items:center;gap:4px;font-size:24px;margin-bottom:60px;border-bottom:1px solid var(--gray-30-d8)}
.tab-list > li {width:var(--wSet ,25%);text-align:center}
.tab-list > li > a {display:block;	height:100%;line-height:76px;border-radius:20px 20px 0 0;border:1px solid var(--gray-30-d8);border-bottom:none;background:var(--gray-05-f8)}
.tab-list > li > a.show {background:var(--primary-color-600);color:#fff;border:none} 
